@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  outline: none; }

::-webkit-scrollbar {
  display: none; }

:root {
  --texto-epilogue: "Epilogue", sans-serif;
  --texto-manrope: "Manrope", sans-serif;
  --color-amarillo: #bced09;
  --color-azul: #3822e4;
  --colo-fondo: #bced09;
  --color-interruptor-on: #3822e4;
  --color-claro: #bced09;
  --color-oscuro: #3822e4;
  --color-shadow: #3822e4; }

body.dark-theme {
  --colo-fondo: #1e1e24;
  --color-claro: #1e1e24;
  --color-oscuro: #bced09;
  --color-shadow: #1e1e24; }
  body.dark-theme .logo img:nth-child(1) {
    display: none; }
  body.dark-theme .logo img:nth-child(3) {
    display: block; }
  body.dark-theme section.home .part2 img:hover {
    cursor: url(../img/img-hover-black.png) 38 38, pointer; }

button {
  -webkit-appearance: none;
  appearance: none;
  border: none; }

body {
  transition: 0.3s;
  background-color: var(--colo-fondo); }
  body .logo img:nth-child(3) {
    display: none; }

.container {
  width: 85%;
  max-width: 1532px;
  margin: 0 auto;
  height: 100%; }

/*nav bar*/
nav {
  background-color: var(--color-oscuro);
  transition: 0.3s;
  width: 100px;
  height: 100vh;
  position: fixed;
  padding: 52px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  justify-content: space-between; }
  nav .idiomas {
    display: flex;
    flex-direction: column;
    padding-top: 50px; }
    nav .idiomas a {
      color: var(--color-claro);
      font-size: 22px;
      font-family: var(--texto-epilogue);
      font-weight: 500;
      text-decoration: none; }
    nav .idiomas a:nth-child(2) {
      margin-top: 7px; }
  nav .btn-nav {
    writing-mode: vertical-lr;
    transform: rotate(180deg); }
    nav .btn-nav ul {
      display: flex;
      flex-direction: row-reverse; }
      nav .btn-nav ul li {
        list-style: none; }
        nav .btn-nav ul li a {
          text-decoration: none;
          color: var(--color-claro);
          font-family: var(--texto-epilogue);
          font-size: 18px;
          font-weight: 500; }
        nav .btn-nav ul li a.contacto {
          font-family: var(--texto-manrope);
          font-weight: 700; }
      nav .btn-nav ul li:nth-child(1),
      nav .btn-nav ul li:nth-child(2) {
        margin-top: 54px; }
  nav .logo a img:nth-child(2) {
    display: none; }

/* From cssbuttons.io by @adamgiebl */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 75px;
  height: 34px;
  transform: rotate(-90deg); }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-claro);
  transition: 0.4s;
  border-radius: 30px; }

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--color-oscuro);
  transition: 0.4s; }

input:checked + .slider {
  background-color: var(--color-claro); }

input:checked + .slider:before {
  transform: translateX(2.4em); }

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex; }
  main section {
    min-width: 100%;
    height: 100vh; }

section.home {
  align-items: center;
  overflow-y: hidden; }
  section.home .content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between; }
  section.home .part1 h1 {
    font-family: var(--texto-epilogue);
    font-size: 96px;
    font-weight: 900;
    color: var(--color-oscuro);
    text-shadow: 0px 3.20857px 3.20857px rgba(0, 0, 0, 0.25); }
  section.home .part1 h2 {
    font-family: var(--texto-epilogue);
    font-size: 96px;
    font-weight: 900;
    text-shadow: 0px 2.52268px 2.52268px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.045em;
    color: var(--color-claro);
    text-shadow: -3.04px -3.04px 0 var(--color-oscuro), 0 -3.04px 0 var(--color-oscuro), 3.04px -3.04px 0 var(--color-oscuro), 3.04px 0 0 var(--color-oscuro), 3.04px 3.04px 0 var(--color-oscuro), 0 3.04px 0 var(--color-oscuro), -3.04px 3.04px 0 var(--color-oscuro), -3.04px 0 0 var(--color-oscuro); }
  section.home .part1 p {
    font-family: var(--texto-manrope);
    font-weight: 500;
    font-size: 18px;
    color: var(--color-oscuro);
    padding-top: 30px;
    padding-bottom: 50px;
    line-height: 36px;
    width: 717px; }
  section.home .part1 button {
    background-color: var(--color-oscuro);
    border-radius: 38.9px;
    color: var(--color-claro);
    font-family: var(--texto-manrope);
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0;
    outline: none;
    cursor: pointer; }
  section.home .part2 {
    display: flex;
    align-items: flex-end; }
    section.home .part2 img.videos-corporativos {
      box-shadow: 26px 15px 35px var(--color-shadow);
      border-radius: 0 257px 264px 0; }
    section.home .part2 img.registro-audiovisual {
      box-shadow: 26px 15px 35px var(--color-shadow);
      border-radius: 257px 257px 0 0; }
    section.home .part2 img.animacion-2d3d {
      box-shadow: 26px 15px 35px var(--color-shadow);
      border-radius: 0 0 264px 257px; }
    section.home .part2 img.campanas-digitales {
      box-shadow: 26px 15px 35px var(--color-shadow);
      border-radius: 0 264px 264px 0; }
    section.home .part2 h2 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 75px;
      color: var(--color-oscuro);
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      text-shadow: none; }
    section.home .part2 h3 {
      font-family: var(--texto-epilogue);
      font-weight: 800;
      font-size: 75px;
      letter-spacing: 0.045em;
      color: var(--color-claro);
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      padding-left: 20px;
      text-shadow: -2px -2px 0 var(--color-oscuro), 0 -2px 0 var(--color-oscuro), 2px -2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro), 2px 2px 0 var(--color-oscuro), 0 2px 0 var(--color-oscuro), -2px 2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro); }
    section.home .part2 img:hover {
      cursor: url(../img/img-hover.png) 38 38, pointer; }

.home2 .container {
  width: 90%;
  max-width: 1664px; }

.home3 {
  position: relative;
  /* reset */ }
  .home3 .footer {
    transition: 0.3s;
    width: 100px;
    height: 100vh;
    background-color: var(--color-oscuro);
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 0;
    color: var(--color-claro);
    font-family: var(--texto-manrope);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .home3 .footer .info p {
      font-size: 18px;
      font-weight: 700;
      writing-mode: vertical-lr; }
    .home3 .footer .redes {
      display: flex;
      flex-direction: column; }
      .home3 .footer .redes a {
        text-decoration: none;
        color: var(--color-claro);
        font-size: 18px;
        font-weight: 400;
        writing-mode: vertical-lr;
        border: 2px solid var(--color-claro);
        padding: 29px 0;
        border-radius: 20px; }
      .home3 .footer .redes a:nth-child(1) {
        margin-bottom: 24px; }
    .home3 .footer .credito {
      font-size: 16px;
      font-weight: 800;
      writing-mode: vertical-lr; }
  .home3 .part3 {
    max-width: 600px; }
    .home3 .part3 h3 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 60px;
      color: var(--color-oscuro);
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: var(--color-oscuro);
      letter-spacing: 0.045em; }
    .home3 .part3 h4 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 60px;
      color: var(--color-claro);
      letter-spacing: 0.045em;
      text-shadow: -2px -2px 0 var(--color-oscuro), 0 -2px 0 var(--color-oscuro), 2px -2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro), 2px 2px 0 var(--color-oscuro), 0 2px 0 var(--color-oscuro), -2px 2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro); }
    .home3 .part3 p {
      font-family: var(--texto-manrope);
      font-weight: 500;
      font-size: 18px;
      line-height: 36px;
      color: var(--color-oscuro);
      padding-top: 20px; }
  .home3 form {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  .home3 input[type="number"]::-webkit-inner-spin-button,
  .home3 input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .home3 input[type="number"] {
    -moz-appearance: textfield; }
  .home3 #fs-frm fieldset {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .home3 #fs-frm select,
  .home3 #fs-frm input,
  .home3 #fs-frm fieldset,
  .home3 #fs-frm textarea,
  .home3 #fs-frm label,
  .home3 #fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: var(--color-oscuro);
    border: none;
    border-radius: 0;
    /* display: block; */
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none; }
  .home3 #fs-frm label,
  .home3 #fs-frm legend,
  .home3 #fs-frm ::placeholder {
    font-size: 20px;
    padding-top: 0.2rem;
    display: flex;
    align-items: center;
    color: var(--color-oscuro);
    padding-bottom: 7px;
    position: relative;
    bottom: 3px; }
  .home3 #fs-frm ::placeholder {
    opacity: 1; }
  .home3 .form {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%; }
  .home3 form {
    width: 1000px; }
  .home3 #fs-frm [type="text"],
  .home3 #fs-frm textarea {
    background-color: transparent;
    color: var(--color-oscuro);
    margin-bottom: 1.5rem;
    border: 2px solid var(--color-oscuro);
    font-family: var(--texto-manrope);
    font-weight: 700;
    font-size: 28px;
    line-height: 56px;
    border-radius: 20px;
    padding: 0 30px;
    height: 57px; }
  .home3 #fs-frm textarea {
    height: 112px;
    margin-bottom: 50px; }
  .home3 #fs-frm [type="submit"] {
    background-color: var(--color-oscuro);
    width: 186px;
    height: 57px;
    font-family: var(--texto-manrope);
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    color: var(--color-claro) !important;
    cursor: pointer;
    border-radius: 18.27px; }

section.videos-corporativos {
  height: 100vh;
  align-items: center;
  overflow-y: hidden;
  background-color: var(--color-azul); }
  section.videos-corporativos .content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between; }
  section.videos-corporativos .part1 img {
    box-shadow: 26px 15px 35px #3822e4;
    border-radius: 0 257px 264px 0; }
  section.videos-corporativos .part2 {
    width: 55%; }
    section.videos-corporativos .part2 h1 {
      font-family: var(--texto-epilogue);
      font-size: 96px;
      font-weight: 900;
      color: var(--color-amarillo);
      text-shadow: 0px 3.20857px 3.20857px rgba(0, 0, 0, 0.25); }
    section.videos-corporativos .part2 h2 {
      font-family: var(--texto-epilogue);
      font-size: 96px;
      font-weight: 900;
      text-shadow: 0px 2.52268px 2.52268px rgba(0, 0, 0, 0.25);
      letter-spacing: 0.045em;
      color: var(--color-azul);
      text-shadow: -3.04px -3.04px 0 var(--color-amarillo), 0 -3.04px 0 var(--color-amarillo), 3.04px -3.04px 0 var(--color-amarillo), 3.04px 0 0 var(--color-amarillo), 3.04px 3.04px 0 var(--color-amarillo), 0 3.04px 0 var(--color-amarillo), -3.04px 3.04px 0 var(--color-amarillo), -3.04px 0 0 var(--color-amarillo); }
    section.videos-corporativos .part2 p {
      font-family: var(--texto-manrope);
      font-weight: 500;
      font-size: 22px;
      color: var(--color-amarillo);
      padding-top: 30px;
      padding-bottom: 50px;
      line-height: 32px; }
    section.videos-corporativos .part2 button {
      background-color: var(--color-amarillo);
      border-radius: 38.9px;
      color: var(--color-azul);
      font-family: var(--texto-manrope);
      font-size: 20px;
      font-weight: 700;
      padding: 20px 0;
      outline: none; }

.lista-contacto {
  height: 100vh;
  align-items: center;
  overflow-y: hidden;
  position: relative;
  background-color: var(--color-azul); }
  .lista-contacto .container {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    height: 100%; }
  .lista-contacto .content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between; }
    .lista-contacto .content .part1 {
      background-color: var(--color-amarillo);
      height: 100vh;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .lista-contacto .content .part1 ul {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .lista-contacto .content .part1 ul li {
          font-family: var(--texto-epilogue);
          font-size: 60px;
          list-style: none;
          font-weight: 900;
          margin-bottom: 30px; }
        .lista-contacto .content .part1 ul li:nth-child(8) {
          margin: 0; }
        .lista-contacto .content .part1 ul li:nth-child(odd) {
          color: var(--color-azul); }
        .lista-contacto .content .part1 ul li:nth-child(even) {
          letter-spacing: 0.045em;
          color: var(--color-amarillo);
          text-shadow: -2px -2px 0 var(--color-azul), 0 -2px 0 var(--color-azul), 2px -2px 0 var(--color-azul), 2px 0 0 var(--color-azul), 2px 2px 0 var(--color-azul), 0 2px 0 var(--color-azul), -2px 2px 0 var(--color-azul), 2px 0 0 var(--color-azul); }
    .lista-contacto .content .part2 {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
      /* reset */ }
      .lista-contacto .content .part2 img.siguiente {
        position: absolute;
        bottom: 47px;
        left: 240px; }
      .lista-contacto .content .part2 .formulario {
        max-width: 600px; }
      .lista-contacto .content .part2 h3 {
        font-family: var(--texto-epilogue);
        font-weight: 900;
        font-size: 60px;
        color: var(--color-amarillo); }
      .lista-contacto .content .part2 h4 {
        font-family: var(--texto-epilogue);
        font-weight: 900;
        font-size: 60px;
        color: var(--color-azul);
        letter-spacing: 0.045em;
        text-shadow: -2px -2px 0 var(--color-amarillo), 0 -2px 0 var(--color-amarillo), 2px -2px 0 var(--color-amarillo), 2px 0 0 var(--color-amarillo), 2px 2px 0 var(--color-amarillo), 0 2px 0 var(--color-amarillo), -2px 2px 0 var(--color-amarillo), 2px 0 0 var(--color-amarillo); }
      .lista-contacto .content .part2 p {
        font-family: var(--texto-manrope);
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        color: var(--color-amarillo);
        padding-top: 20px; }
      .lista-contacto .content .part2 form {
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
      .lista-contacto .content .part2 input[type="number"]::-webkit-inner-spin-button,
      .lista-contacto .content .part2 input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      .lista-contacto .content .part2 input[type="number"] {
        -moz-appearance: textfield; }
      .lista-contacto .content .part2 #fs-frm fieldset {
        display: flex;
        flex-direction: column;
        align-items: center; }
      .lista-contacto .content .part2 #fs-frm select,
      .lista-contacto .content .part2 #fs-frm input,
      .lista-contacto .content .part2 #fs-frm fieldset,
      .lista-contacto .content .part2 #fs-frm textarea,
      .lista-contacto .content .part2 #fs-frm label,
      .lista-contacto .content .part2 #fs-frm #card-element:disabled {
        font-family: inherit;
        font-size: 100%;
        color: var(--color-amarillo);
        border: none;
        border-radius: 0;
        /* display: block; */
        width: 100%;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: none; }
      .lista-contacto .content .part2 #fs-frm label,
      .lista-contacto .content .part2 #fs-frm legend,
      .lista-contacto .content .part2 #fs-frm ::placeholder {
        font-size: 20px;
        padding-top: 0.2rem;
        display: flex;
        align-items: center;
        color: var(--color-amarillo);
        padding-bottom: 7px;
        position: relative;
        bottom: 3px; }
      .lista-contacto .content .part2 #fs-frm ::placeholder {
        opacity: 1; }
      .lista-contacto .content .part2 .form {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        width: 100%; }
      .lista-contacto .content .part2 form {
        width: 1000px; }
      .lista-contacto .content .part2 #fs-frm [type="text"],
      .lista-contacto .content .part2 #fs-frm textarea {
        background-color: transparent;
        color: var(--color-amarillo);
        margin-bottom: 1.5rem;
        border: 2px solid var(--color-amarillo);
        font-family: var(--texto-manrope);
        font-weight: 700;
        font-size: 28px;
        line-height: 56px;
        border-radius: 20px;
        padding: 0 30px;
        height: 57px; }
      .lista-contacto .content .part2 #fs-frm textarea {
        height: 112px;
        margin-bottom: 50px; }
      .lista-contacto .content .part2 #fs-frm [type="submit"] {
        background-color: var(--color-amarillo);
        width: 186px;
        height: 57px;
        font-family: var(--texto-manrope);
        font-weight: 700;
        font-size: 20px;
        line-height: 38px;
        color: var(--color-azul) !important;
        cursor: pointer;
        border-radius: 18.27px; }
  .lista-contacto .footer {
    transition: 0.3s;
    width: 100px;
    height: 100vh;
    background-color: var(--color-amarillo);
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 0;
    color: var(--color-azul);
    font-family: var(--texto-manrope);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .lista-contacto .footer .info p {
      font-size: 18px;
      font-weight: 700;
      writing-mode: vertical-lr; }
    .lista-contacto .footer .redes {
      display: flex;
      flex-direction: column; }
      .lista-contacto .footer .redes a {
        text-decoration: none;
        color: var(--color-azul);
        font-size: 18px;
        font-weight: 400;
        writing-mode: vertical-lr;
        border: 2px solid var(--color-azul);
        padding: 29px 0;
        border-radius: 20px; }
      .lista-contacto .footer .redes a:nth-child(1) {
        margin-bottom: 24px; }
    .lista-contacto .footer .credito {
      font-size: 16px;
      font-weight: 800;
      writing-mode: vertical-lr; }

nav.change {
  background-color: var(--color-amarillo); }
  nav.change a {
    color: var(--color-azul); }
  nav.change .slider {
    background-color: var(--color-azul); }
  nav.change .slider:before {
    background-color: var(--color-amarillo); }
  nav.change .btn-nav ul li a {
    color: var(--color-azul); }
  nav.change .logo a img:nth-child(1) {
    display: none; }
  nav.change .logo a img:nth-child(2) {
    display: block; }

nav.change1.change,
nav.change1 {
  background-color: var(--color-amarillo);
  border-right: 1px solid var(--color-azul); }
  nav.change1.change a,
  nav.change1 a {
    color: var(--color-azul); }
  nav.change1.change .slider,
  nav.change1 .slider {
    background-color: var(--color-azul); }
  nav.change1.change .slider:before,
  nav.change1 .slider:before {
    background-color: var(--color-amarillo); }
  nav.change1.change .btn-nav ul li a,
  nav.change1 .btn-nav ul li a {
    color: var(--color-azul); }
  nav.change1.change .logo a img:nth-child(1),
  nav.change1 .logo a img:nth-child(1) {
    display: none; }
  nav.change1.change .logo a img:nth-child(2),
  nav.change1 .logo a img:nth-child(2) {
    display: block; }

body.dark-theme nav.change {
  background-color: var(--color-amarillo) !important; }
  body.dark-theme nav.change a {
    color: var(--color-shadow); }
  body.dark-theme nav.change .slider {
    background-color: var(--color-shadow); }
  body.dark-theme nav.change .slider:before {
    background-color: var(--color-amarillo); }
  body.dark-theme nav.change .btn-nav ul li a {
    color: var(--color-shadow); }
  body.dark-theme nav.change .logo a img:nth-child(1) {
    display: none; }
  body.dark-theme nav.change .logo a img:nth-child(2) {
    display: none; }

body.dark-theme nav.change1 {
  border-right: none !important;
  background-color: var(--color-claro);
  border-right: 1px solid var(--color-oscuro); }
  body.dark-theme nav.change1 a {
    color: var(--color-oscuro); }
  body.dark-theme nav.change1 .slider {
    background-color: var(--color-oscuro); }
  body.dark-theme nav.change1 .slider:before {
    background-color: var(--color-claro); }
  body.dark-theme nav.change1 .btn-nav ul li a {
    color: var(--color-oscuro); }
  body.dark-theme nav.change1 .logo a img:nth-child(1) {
    display: block; }
  body.dark-theme nav.change1 .logo a img:nth-child(2) {
    display: none; }

.servicespage.open {
  transform: translateX(0%);
  z-index: 9;
  position: fixed;
  top: 0; }

.contactpage.open {
  transform: translateX(0%);
  position: fixed;
  top: 0; }

section.servicespage {
  background-color: var(--color-shadow);
  height: 100vh;
  z-index: 9;
  position: absolute;
  width: 100%;
  top: 0;
  position: fixed;
  transition: transform 0.5s ease;
  transform: translatex(-100%);
  padding: 75px 0; }
  section.servicespage .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; }
    section.servicespage .content .top {
      display: flex;
      justify-content: flex-end; }
    section.servicespage .content .services {
      display: flex;
      align-items: flex-end;
      justify-content: space-between; }
      section.servicespage .content .services p {
        width: 362px;
        font-family: var(--texto-manrope);
        font-weight: 700;
        font-size: 20px;
        color: var(--color-amarillo); }
      section.servicespage .content .services ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        section.servicespage .content .services ul li {
          font-family: var(--texto-epilogue);
          font-size: 75px;
          font-weight: 700;
          list-style: none;
          margin-bottom: 100px;
          width: fit-content;
          padding: 5px 37px;
          border-radius: 57px; }
          section.servicespage .content .services ul li a {
            text-decoration: none; }
          section.servicespage .content .services ul li span {
            position: relative;
            top: 7px; }
          section.servicespage .content .services ul li span:nth-child(1) {
            color: var(--color-amarillo); }
          section.servicespage .content .services ul li span:nth-child(2) {
            color: var(--color-shadow);
            text-shadow: -2px -2px 0 var(--color-amarillo), 0 -2px 0 var(--color-amarillo), 2px -2px 0 var(--color-amarillo), 2px 0 0 var(--color-amarillo), 2px 2px 0 var(--color-amarillo), 0 2px 0 var(--color-amarillo), -2px 2px 0 var(--color-amarillo), 2px 0 0 var(--color-amarillo); }
          section.servicespage .content .services ul li:hover {
            background-color: #bced09; }
            section.servicespage .content .services ul li:hover span:nth-child(1) {
              color: var(--color-shadow); }
            section.servicespage .content .services ul li:hover span:nth-child(2) {
              color: var(--color-amarillo);
              text-shadow: -2px -2px 0 var(--color-shadow), 0 -2px 0 var(--color-shadow), 2px -2px 0 var(--color-shadow), 2px 0 0 var(--color-shadow), 2px 2px 0 var(--color-shadow), 0 2px 0 var(--color-shadow), -2px 2px 0 var(--color-shadow), 2px 0 0 var(--color-shadow); }
        section.servicespage .content .services ul li:nth-child(4) {
          margin: 0; }

section.contactpage {
  background-color: var(--color-shadow);
  height: 100vh;
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 0;
  position: fixed;
  transition: transform 0.5s ease;
  transform: translatex(-100%);
  padding: 75px 0; }
  section.contactpage .contendor {
    position: relative;
    height: 100%; }
  section.contactpage .container {
    width: 90%;
    max-width: 1700px; }
  section.contactpage .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    section.contactpage .top img.video-studio-n {
      position: relative;
      top: -34px; }
  section.contactpage .contenido {
    color: var(--color-amarillo);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* reset */ }
    section.contactpage .contenido h3 {
      font-family: var(--texto-epilogue);
      font-weight: 700;
      font-size: 90px; }
    section.contactpage .contenido p {
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 24px;
      padding-bottom: 40px; }
    section.contactpage .contenido form {
      display: flex;
      flex-direction: column;
      align-items: center; }
    section.contactpage .contenido input[type="number"]::-webkit-inner-spin-button,
    section.contactpage .contenido input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    section.contactpage .contenido input[type="number"] {
      -moz-appearance: textfield; }
    section.contactpage .contenido #fs-frm fieldset {
      display: flex;
      flex-direction: column;
      align-items: center; }
    section.contactpage .contenido #fs-frm select,
    section.contactpage .contenido #fs-frm input,
    section.contactpage .contenido #fs-frm fieldset,
    section.contactpage .contenido #fs-frm textarea,
    section.contactpage .contenido #fs-frm label,
    section.contactpage .contenido #fs-frm #card-element:disabled {
      font-family: inherit;
      font-size: 100%;
      color: var(--color-amarillo);
      border: none;
      border-radius: 0;
      /* display: block; */
      width: 100%;
      padding: 0;
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance: none; }
    section.contactpage .contenido #fs-frm label,
    section.contactpage .contenido #fs-frm legend,
    section.contactpage .contenido #fs-frm ::placeholder {
      font-size: 20px;
      padding-top: 0.2rem;
      display: flex;
      align-items: center;
      color: var(--color-amarillo);
      padding-bottom: 7px;
      position: relative; }
    section.contactpage .contenido #fs-frm ::placeholder {
      opacity: 1; }
    section.contactpage .contenido .form {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      width: 648px; }
    section.contactpage .contenido form {
      width: 1000px; }
    section.contactpage .contenido #fs-frm [type="text"],
    section.contactpage .contenido #fs-frm [type="number"],
    section.contactpage .contenido #fs-frm textarea {
      background-color: transparent;
      color: var(--color-amarillo);
      margin-bottom: 1.5rem;
      border: 2px solid var(--color-amarillo);
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 20px;
      line-height: 56px;
      border-radius: 38.9px;
      padding: 0 30px;
      height: 57px; }
    section.contactpage .contenido #fs-frm textarea {
      height: 112px;
      margin-bottom: 1.5rem; }
    section.contactpage .contenido #fs-frm [type="submit"] {
      background-color: var(--color-amarillo);
      width: 186px;
      height: 57px;
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 20px;
      line-height: 38px;
      color: var(--color-shadow) !important;
      cursor: pointer;
      border-radius: 38.9px;
      border: 2px solid var(--color-amarillo); }
  section.contactpage .slider-contacto {
    position: relative;
    bottom: -20px; }
    section.contactpage .slider-contacto .contacto-carousel .box p {
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 20px;
      color: var(--color-amarillo);
      text-align: center; }

section.team {
  height: 100vh;
  align-items: center;
  overflow-y: hidden;
  position: relative; }
  section.team .content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between; }
    section.team .content .part1 {
      width: 50%; }
      section.team .content .part1 h1 {
        font-family: var(--texto-epilogue);
        font-weight: 900;
        font-size: 96.2571px;
        color: var(--color-azul); }
      section.team .content .part1 h2 {
        font-family: var(--texto-epilogue);
        font-weight: 900;
        font-size: 96.2571px;
        color: var(--color-amarillo);
        letter-spacing: 0.045em;
        text-shadow: -3.04px -3.04px 0 var(--color-azul), 0 -3.04px 0 var(--color-azul), 3.04px -3.04px 0 var(--color-azul), 3.04px 0 0 var(--color-azul), 3.04px 3.04px 0 var(--color-azul), 0 3.04px 0 var(--color-azul), -3.04px 3.04px 0 var(--color-azul), -3.04px 0 0 var(--color-azul); }
      section.team .content .part1 p {
        font-family: var(--texto-manrope);
        font-weight: 500;
        font-size: 18px;
        color: var(--color-azul);
        padding-top: 30px;
        padding-bottom: 50px;
        line-height: 36px;
        width: 717px; }
      section.team .content .part1 button {
        background-color: var(--color-azul);
        border-radius: 38.9px;
        color: var(--color-amarillo);
        font-family: var(--texto-manrope);
        font-size: 20px;
        font-weight: 700;
        padding: 20px 0;
        outline: none; }
    section.team .content .part2 img {
      filter: drop-shadow(26px 15px 14px #3822e4); }
  section.team .start {
    position: absolute;
    bottom: 57px;
    left: 746px; }

section.servicios-list {
  position: relative;
  min-width: calc(100% - 100px);
  height: 100vh; }
  section.servicios-list .list {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px; }
    section.servicios-list .list a {
      text-decoration: none; }
    section.servicios-list .list .item {
      border: 4px solid var(--color-azul);
      padding: 41px 72px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      cursor: url(../img/img-hover.png) 38 38, pointer; }
      section.servicios-list .list .item h2 {
        font-family: var(--texto-epilogue);
        font-style: normal;
        font-weight: 900;
        font-size: 75px;
        color: var(--color-azul); }
      section.servicios-list .list .item h3 {
        font-family: var(--texto-epilogue);
        font-weight: 700;
        font-size: 75px;
        color: var(--color-amarillo);
        text-shadow: -2px -2px 0 var(--color-azul), 0 -2px 0 var(--color-azul), 2px -2px 0 var(--color-azul), 2px 0 0 var(--color-azul), 2px 2px 0 var(--color-azul), 0 2px 0 var(--color-azul), -2px 2px 0 var(--color-azul), 2px 0 0 var(--color-azul); }
  section.servicios-list .footer {
    transition: 0.3s;
    width: 100px;
    height: 100vh;
    background-color: var(--color-azul);
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 0;
    color: var(--color-amarillo);
    font-family: var(--texto-manrope);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    section.servicios-list .footer .info p {
      font-size: 18px;
      font-weight: 700;
      writing-mode: vertical-lr; }
    section.servicios-list .footer .redes {
      display: flex;
      flex-direction: column; }
      section.servicios-list .footer .redes a {
        text-decoration: none;
        color: var(--color-amarillo);
        font-size: 18px;
        font-weight: 400;
        writing-mode: vertical-lr;
        border: 2px solid var(--color-amarillo);
        padding: 29px 0;
        border-radius: 20px; }
      section.servicios-list .footer .redes a:nth-child(1) {
        margin-bottom: 24px; }
    section.servicios-list .footer .credito {
      font-size: 16px;
      font-weight: 800;
      writing-mode: vertical-lr; }

section.thankspage {
  background-color: var(--color-azul);
  padding: 75px 0; }
  section.thankspage .contendor {
    position: relative;
    height: 114px; }
  section.thankspage .contenido-thanks {
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center; }
  section.thankspage .container {
    width: 90%;
    max-width: 1700px;
    height: auto; }
  section.thankspage .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    section.thankspage .top img.video-studio-n {
      position: relative;
      top: -34px; }
  section.thankspage .slider-thanks .box p {
    font-family: var(--texto-epilogue);
    font-weight: 900;
    font-size: 81px;
    color: var(--color-azul);
    text-shadow: -2px -2px 0 var(--color-amarillo), 0 -2px 0 var(--color-amarillo), 2px -2px 0 var(--color-amarillo), 2px 0 0 var(--color-amarillo), 2px 2px 0 var(--color-amarillo), 0 2px 0 var(--color-amarillo), -2px 2px 0 var(--color-amarillo), 2px 0 0 var(--color-amarillo);
    letter-spacing: 0.075em; }
  section.thankspage .slider-thanks.pad {
    margin-top: 24px;
    margin-bottom: 50px; }
  section.thankspage .content-btn {
    display: flex;
    justify-content: center; }
  section.thankspage a.btn-thanks {
    text-decoration: none;
    font-family: var(--texto-manrope);
    font-weight: 700;
    font-size: 20px;
    width: 186px;
    height: 57px;
    border-radius: 38.9px;
    background-color: var(--color-amarillo);
    color: var(--color-azul);
    padding: 14px 0; }
