@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --texto-epilogue: "Epilogue", sans-serif;
  --texto-manrope: "Manrope", sans-serif;
  --color-amarillo: #bced09;
  --color-azul: #3822e4;
  --colo-fondo: #bced09;
  --color-interruptor-on: #3822e4;
  --color-claro: #bced09;
  --color-oscuro: #3822e4;
  --color-shadow: #3822e4;
}
body.dark-theme {
  --colo-fondo: #1e1e24;
  --color-claro: #1e1e24;
  --color-oscuro: #bced09;
  --color-shadow: #1e1e24;
  .logo {
    img:nth-child(1) {
      display: none;
    }
    img:nth-child(3) {
      display: block;
    }
  }
  section.home .part2 img:hover {
    cursor: url(../img/img-hover-black.png) 38 38, pointer;
  }
}

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

body {
  transition: 0.3s;
  background-color: var(--colo-fondo);
  .logo {
    img:nth-child(3) {
      display: none;
    }
  }
}

.container {
  width: 85%;
  max-width: 1532px;
  margin: 0 auto;
  height: 100%;
}

/*nav bar*/

nav {
  background-color: var(--color-oscuro);
  transition: 0.3s;
  width: 100px;
  height: 100vh;
  position: fixed;
  padding: 52px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  justify-content: space-between;
  .idiomas {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    a {
      color: var(--color-claro);
      font-size: 22px;
      font-family: var(--texto-epilogue);
      font-weight: 500;
      text-decoration: none;
    }
    a:nth-child(2) {
      margin-top: 7px;
    }
  }
  .btn-nav {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    ul {
      display: flex;
      flex-direction: row-reverse;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: var(--color-claro);
          font-family: var(--texto-epilogue);
          font-size: 18px;
          font-weight: 500;
        }
        a.contacto {
          font-family: var(--texto-manrope);
          font-weight: 700;
        }
      }
      li:nth-child(1),
      li:nth-child(2) {
        margin-top: 54px;
      }
    }
  }
  .logo {
    a {
      img:nth-child(2) {
        display: none;
      }
    }
  }
}
/* From cssbuttons.io by @adamgiebl */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 75px;
  height: 34px;
  transform: rotate(-90deg);
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-claro);
  transition: 0.4s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--color-oscuro);
  transition: 0.4s;
}
input:checked + .slider {
  background-color: var(--color-claro);
}
// input:focus + .slider {
//   box-shadow: 0 0 1px var(--color-interruptor-on);
// }
input:checked + .slider:before {
  transform: translateX(2.4em);
}
main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  section {
    min-width: 100%;
    height: 100vh;
  }
}

section.home {
  align-items: center;
  overflow-y: hidden;
  .content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }
  .part1 {
    h1 {
      font-family: var(--texto-epilogue);
      font-size: 96px;
      font-weight: 900;
      color: var(--color-oscuro);
      text-shadow: 0px 3.20857px 3.20857px rgba(0, 0, 0, 0.25);
    }
    h2 {
      font-family: var(--texto-epilogue);
      font-size: 96px;
      font-weight: 900;
      text-shadow: 0px 2.52268px 2.52268px rgba(0, 0, 0, 0.25);
      letter-spacing: 0.045em;
      color: var(--color-claro);
      // -webkit-text-stroke: 3.04px;
      // -webkit-text-stroke-color: var(--color-azul);
      // -webkit-text-stroke: 3.04px var(--color-azul);
      text-shadow: -3.04px -3.04px 0 var(--color-oscuro),
        0 -3.04px 0 var(--color-oscuro), 3.04px -3.04px 0 var(--color-oscuro),
        3.04px 0 0 var(--color-oscuro), 3.04px 3.04px 0 var(--color-oscuro),
        0 3.04px 0 var(--color-oscuro), -3.04px 3.04px 0 var(--color-oscuro),
        -3.04px 0 0 var(--color-oscuro);
    }
    p {
      font-family: var(--texto-manrope);
      font-weight: 500;
      font-size: 18px;
      color: var(--color-oscuro);
      padding-top: 30px;
      padding-bottom: 50px;
      line-height: 36px;
      width: 717px;
    }
    button {
      background-color: var(--color-oscuro);
      border-radius: 38.9px;
      color: var(--color-claro);
      font-family: var(--texto-manrope);
      font-size: 20px;
      font-weight: 700;
      padding: 20px 0;
      outline: none;
      cursor: pointer;
    }
  }
  .part2 {
    display: flex;
    align-items: flex-end;
    img.videos-corporativos {
      box-shadow: (26px 15px 35px var(--color-shadow));
      border-radius: 0 257px 264px 0;
    }
    img.registro-audiovisual {
      box-shadow: (26px 15px 35px var(--color-shadow));
      border-radius: 257px 257px 0 0;
    }
    img.animacion-2d3d {
      box-shadow: (26px 15px 35px var(--color-shadow));
      border-radius: 0 0 264px 257px;
    }
    img.campanas-digitales {
      box-shadow: (26px 15px 35px var(--color-shadow));
      border-radius: 0 264px 264px 0;
    }
    h2 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 75px;
      color: var(--color-oscuro);
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      text-shadow: none;
    }
    h3 {
      font-family: var(--texto-epilogue);
      font-weight: 800;
      font-size: 75px;
      letter-spacing: 0.045em;
      color: var(--color-claro);
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      padding-left: 20px;
      // -webkit-text-stroke: 2px;
      // -webkit-text-stroke-color: var(--color-azul);
      text-shadow: -2px -2px 0 var(--color-oscuro), 0 -2px 0 var(--color-oscuro),
        2px -2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro),
        2px 2px 0 var(--color-oscuro), 0 2px 0 var(--color-oscuro),
        -2px 2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro);
    }
    img:hover {
      cursor: url(../img/img-hover.png) 38 38, pointer;
    }
  }
}

.home2 {
  .container {
    width: 90%;
    max-width: 1664px;
  }
}

.home3 {
  position: relative;
  .footer {
    transition: 0.3s;
    width: 100px;
    height: 100vh;
    background-color: var(--color-oscuro);
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 0;
    color: var(--color-claro);
    font-family: var(--texto-manrope);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .info {
      p {
        font-size: 18px;
        font-weight: 700;
        writing-mode: vertical-lr;
      }
    }
    .redes {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: var(--color-claro);
        font-size: 18px;
        font-weight: 400;
        writing-mode: vertical-lr;
        border: 2px solid var(--color-claro);
        padding: 29px 0;
        border-radius: 20px;
      }
      a:nth-child(1) {
        margin-bottom: 24px;
      }
    }
    .credito {
      font-size: 16px;
      font-weight: 800;
      writing-mode: vertical-lr;
    }
  }
  .part3 {
    max-width: 600px;
    h3 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 60px;
      color: var(--color-oscuro);
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: var(--color-oscuro);
      letter-spacing: 0.045em;
    }
    h4 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 60px;
      // -webkit-text-stroke: 2px;
      // -webkit-text-stroke-color: var(--color-azul);
      color: var(--color-claro);
      letter-spacing: 0.045em;
      text-shadow: -2px -2px 0 var(--color-oscuro), 0 -2px 0 var(--color-oscuro),
        2px -2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro),
        2px 2px 0 var(--color-oscuro), 0 2px 0 var(--color-oscuro),
        -2px 2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro);
    }
    p {
      font-family: var(--texto-manrope);
      font-weight: 500;
      font-size: 18px;
      line-height: 36px;
      color: var(--color-oscuro);
      padding-top: 20px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  /* reset */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  #fs-frm fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #fs-frm select,
  #fs-frm input,
  #fs-frm fieldset,
  #fs-frm textarea,
  #fs-frm label,
  #fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: var(--color-oscuro);
    border: none;
    border-radius: 0;
    /* display: block; */
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  #fs-frm label,
  #fs-frm legend,
  #fs-frm ::placeholder {
    font-size: 20px;
    // margin-bottom: 0.5rem;
    padding-top: 0.2rem;
    display: flex;
    align-items: center;
    color: var(--color-oscuro);
    padding-bottom: 7px;
    position: relative;
    bottom: 3px;
  }
  #fs-frm ::placeholder {
    opacity: 1;
  }
  .form {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
  }
  form {
    width: 1000px;
  }
  #fs-frm [type="text"],
  #fs-frm textarea {
    background-color: transparent;
    color: var(--color-oscuro);
    // padding: 0.75em 1rem;
    margin-bottom: 1.5rem;
    border: 2px solid var(--color-oscuro);
    font-family: var(--texto-manrope);
    font-weight: 700;
    font-size: 28px;
    line-height: 56px;
    border-radius: 20px;
    padding: 0 30px;
    height: 57px;
  }
  #fs-frm textarea {
    // height: calc(82px + 62px);
    height: 112px;
    margin-bottom: 50px;
  }
  #fs-frm [type="submit"] {
    background-color: var(--color-oscuro);
    width: 186px;
    height: 57px;
    font-family: var(--texto-manrope);
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    color: var(--color-claro) !important;
    cursor: pointer;
    border-radius: 18.27px;
    // &:hover {
    //   background-color: var(--color-verde);
    //   color: var(--color-azul);
    // }
  }
}

section.videos-corporativos {
  height: 100vh;
  align-items: center;
  overflow-y: hidden;
  background-color: var(--color-azul);
  .content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }
  .part1 {
    img {
      box-shadow: (26px 15px 35px #3822e4);
      border-radius: 0 257px 264px 0;
    }
  }
  .part2 {
    width: 55%;
    h1 {
      font-family: var(--texto-epilogue);
      font-size: 96px;
      font-weight: 900;
      color: var(--color-amarillo);
      text-shadow: 0px 3.20857px 3.20857px rgba(0, 0, 0, 0.25);
    }
    h2 {
      font-family: var(--texto-epilogue);
      font-size: 96px;
      font-weight: 900;
      text-shadow: 0px 2.52268px 2.52268px rgba(0, 0, 0, 0.25);
      letter-spacing: 0.045em;
      color: var(--color-azul);
      text-shadow: -3.04px -3.04px 0 var(--color-amarillo),
        0 -3.04px 0 var(--color-amarillo),
        3.04px -3.04px 0 var(--color-amarillo), 3.04px 0 0 var(--color-amarillo),
        3.04px 3.04px 0 var(--color-amarillo), 0 3.04px 0 var(--color-amarillo),
        -3.04px 3.04px 0 var(--color-amarillo),
        -3.04px 0 0 var(--color-amarillo);
    }
    p {
      font-family: var(--texto-manrope);
      font-weight: 500;
      font-size: 22px;
      color: var(--color-amarillo);
      padding-top: 30px;
      padding-bottom: 50px;
      line-height: 32px;
      // width: 717px;
    }
    button {
      background-color: var(--color-amarillo);
      border-radius: 38.9px;
      color: var(--color-azul);
      font-family: var(--texto-manrope);
      font-size: 20px;
      font-weight: 700;
      padding: 20px 0;
      outline: none;
    }
  }
}

.lista-contacto {
  height: 100vh;
  align-items: center;
  overflow-y: hidden;
  position: relative;
  background-color: var(--color-azul);
  .container {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
    height: 100%;
  }
  .content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    .part1 {
      background-color: var(--color-amarillo);
      height: 100vh;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          font-family: var(--texto-epilogue);
          font-size: 60px;
          list-style: none;
          font-weight: 900;
          margin-bottom: 30px;
        }
        li:nth-child(8) {
          margin: 0;
        }
        li:nth-child(odd) {
          color: var(--color-azul);
        }
        li:nth-child(even) {
          letter-spacing: 0.045em;
          color: var(--color-amarillo);
          text-shadow: -2px -2px 0 var(--color-azul), 0 -2px 0 var(--color-azul),
            2px -2px 0 var(--color-azul), 2px 0 0 var(--color-azul),
            2px 2px 0 var(--color-azul), 0 2px 0 var(--color-azul),
            -2px 2px 0 var(--color-azul), 2px 0 0 var(--color-azul);
        }
      }
    }
    .part2 {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
      img.siguiente {
        position: absolute;
        bottom: 47px;
        left: 240px;
      }
      .formulario {
        max-width: 600px;
      }
      h3 {
        font-family: var(--texto-epilogue);
        font-weight: 900;
        font-size: 60px;
        color: var(--color-amarillo);
      }
      h4 {
        font-family: var(--texto-epilogue);
        font-weight: 900;
        font-size: 60px;
        color: var(--color-azul);
        letter-spacing: 0.045em;
        text-shadow: -2px -2px 0 var(--color-amarillo),
          0 -2px 0 var(--color-amarillo), 2px -2px 0 var(--color-amarillo),
          2px 0 0 var(--color-amarillo), 2px 2px 0 var(--color-amarillo),
          0 2px 0 var(--color-amarillo), -2px 2px 0 var(--color-amarillo),
          2px 0 0 var(--color-amarillo);
      }
      p {
        font-family: var(--texto-manrope);
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        color: var(--color-amarillo);
        padding-top: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      /* reset */
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      input[type="number"] {
        -moz-appearance: textfield;
      }

      #fs-frm fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      #fs-frm select,
      #fs-frm input,
      #fs-frm fieldset,
      #fs-frm textarea,
      #fs-frm label,
      #fs-frm #card-element:disabled {
        font-family: inherit;
        font-size: 100%;
        color: var(--color-amarillo);
        border: none;
        border-radius: 0;
        /* display: block; */
        width: 100%;
        padding: 0;
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
      }

      #fs-frm label,
      #fs-frm legend,
      #fs-frm ::placeholder {
        font-size: 20px;
        // margin-bottom: 0.5rem;
        padding-top: 0.2rem;
        display: flex;
        align-items: center;
        color: var(--color-amarillo);
        padding-bottom: 7px;
        position: relative;
        bottom: 3px;
      }
      #fs-frm ::placeholder {
        opacity: 1;
      }
      .form {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        width: 100%;
      }
      form {
        width: 1000px;
      }
      #fs-frm [type="text"],
      #fs-frm textarea {
        background-color: transparent;
        color: var(--color-amarillo);
        // padding: 0.75em 1rem;
        margin-bottom: 1.5rem;
        border: 2px solid var(--color-amarillo);
        font-family: var(--texto-manrope);
        font-weight: 700;
        font-size: 28px;
        line-height: 56px;
        border-radius: 20px;
        padding: 0 30px;
        height: 57px;
      }
      #fs-frm textarea {
        // height: calc(82px + 62px);
        height: 112px;
        margin-bottom: 50px;
      }
      #fs-frm [type="submit"] {
        background-color: var(--color-amarillo);
        width: 186px;
        height: 57px;
        font-family: var(--texto-manrope);
        font-weight: 700;
        font-size: 20px;
        line-height: 38px;
        color: var(--color-azul) !important;
        cursor: pointer;
        border-radius: 18.27px;
        // &:hover {
        //   background-color: var(--color-verde);
        //   color: var(--color-azul);
        // }
      }
    }
  }
  .footer {
    transition: 0.3s;
    width: 100px;
    height: 100vh;
    background-color: var(--color-amarillo);
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 0;
    color: var(--color-azul);
    font-family: var(--texto-manrope);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .info {
      p {
        font-size: 18px;
        font-weight: 700;
        writing-mode: vertical-lr;
      }
    }
    .redes {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: var(--color-azul);
        font-size: 18px;
        font-weight: 400;
        writing-mode: vertical-lr;
        border: 2px solid var(--color-azul);
        padding: 29px 0;
        border-radius: 20px;
      }
      a:nth-child(1) {
        margin-bottom: 24px;
      }
    }
    .credito {
      font-size: 16px;
      font-weight: 800;
      writing-mode: vertical-lr;
    }
  }
}

nav.change {
  background-color: var(--color-amarillo);
  a {
    color: var(--color-azul);
  }
  .slider {
    background-color: var(--color-azul);
  }
  .slider:before {
    background-color: var(--color-amarillo);
  }
  .btn-nav ul li a {
    color: var(--color-azul);
  }
  .logo a img:nth-child(1) {
    display: none;
  }
  .logo a img:nth-child(2) {
    display: block;
  }
}
nav.change1.change,
nav.change1 {
  background-color: var(--color-amarillo);
  border-right: 1px solid var(--color-azul);
  a {
    color: var(--color-azul);
  }
  .slider {
    background-color: var(--color-azul);
  }
  .slider:before {
    background-color: var(--color-amarillo);
  }
  .btn-nav ul li a {
    color: var(--color-azul);
  }
  .logo a img:nth-child(1) {
    display: none;
  }
  .logo a img:nth-child(2) {
    display: block;
  }
}

body.dark-theme {
  nav.change {
    background-color: var(--color-amarillo) !important;
    a {
      color: var(--color-shadow);
    }
    .slider {
      background-color: var(--color-shadow);
    }
    .slider:before {
      background-color: var(--color-amarillo);
    }
    .btn-nav ul li a {
      color: var(--color-shadow);
    }
    .logo a img:nth-child(1) {
      display: none;
    }
    .logo a img:nth-child(2) {
      display: none;
    }
  }
  nav.change1 {
    border-right: none !important;
    background-color: var(--color-claro);
    border-right: 1px solid var(--color-oscuro);
    a {
      color: var(--color-oscuro);
    }
    .slider {
      background-color: var(--color-oscuro);
    }
    .slider:before {
      background-color: var(--color-claro);
    }
    .btn-nav ul li a {
      color: var(--color-oscuro);
    }
    .logo a img:nth-child(1) {
      display: block;
    }
    .logo a img:nth-child(2) {
      display: none;
    }
  }
}

.servicespage.open {
  transform: translateX(0%);
  z-index: 9;
  position: fixed;
  top: 0;
}
.contactpage.open {
  transform: translateX(0%);
  position: fixed;
  top: 0;
}

section.servicespage {
  background-color: var(--color-shadow);
  height: 100vh;
  z-index: 9;
  position: absolute;
  width: 100%;
  top: 0;
  position: fixed;
  transition: transform 0.5s ease;
  transform: translatex(-100%);
  padding: 75px 0;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .top {
      display: flex;
      justify-content: flex-end;
    }
    .services {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      p {
        width: 362px;
        font-family: var(--texto-manrope);
        font-weight: 700;
        font-size: 20px;
        color: var(--color-amarillo);
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        li {
          font-family: var(--texto-epilogue);
          font-size: 75px;
          font-weight: 700;
          list-style: none;
          margin-bottom: 100px;
          width: fit-content;
          padding: 5px 37px;
          // padding-top: 8px;
          border-radius: 57px;
          a {
            text-decoration: none;
          }
          span {
            position: relative;
            top: 7px;
          }
          span:nth-child(1) {
            color: var(--color-amarillo);
          }
          span:nth-child(2) {
            color: var(--color-shadow);
            text-shadow: -2px -2px 0 var(--color-amarillo),
              0 -2px 0 var(--color-amarillo), 2px -2px 0 var(--color-amarillo),
              2px 0 0 var(--color-amarillo), 2px 2px 0 var(--color-amarillo),
              0 2px 0 var(--color-amarillo), -2px 2px 0 var(--color-amarillo),
              2px 0 0 var(--color-amarillo);
          }
          &:hover {
            background-color: #bced09;
            span:nth-child(1) {
              color: var(--color-shadow);
            }
            span:nth-child(2) {
              color: var(--color-amarillo);
              text-shadow: -2px -2px 0 var(--color-shadow),
                0 -2px 0 var(--color-shadow), 2px -2px 0 var(--color-shadow),
                2px 0 0 var(--color-shadow), 2px 2px 0 var(--color-shadow),
                0 2px 0 var(--color-shadow), -2px 2px 0 var(--color-shadow),
                2px 0 0 var(--color-shadow);
            }
          }
        }
        li:nth-child(4) {
          margin: 0;
        }
      }
    }
  }
}

section.contactpage {
  background-color: var(--color-shadow);
  height: 100vh;
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 0;
  position: fixed;
  transition: transform 0.5s ease;
  transform: translatex(-100%);
  padding: 75px 0;
  .contendor {
    position: relative;
    height: 100%;
  }
  .container {
    width: 90%;
    max-width: 1700px;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img.video-studio-n {
      position: relative;
      top: -34px;
    }
  }
  .contenido {
    color: var(--color-amarillo);
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-family: var(--texto-epilogue);
      font-weight: 700;
      font-size: 90px;
    }
    p {
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 24px;
      padding-bottom: 40px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    /* reset */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    #fs-frm fieldset {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #fs-frm select,
    #fs-frm input,
    #fs-frm fieldset,
    #fs-frm textarea,
    #fs-frm label,
    #fs-frm #card-element:disabled {
      font-family: inherit;
      font-size: 100%;
      color: var(--color-amarillo);
      border: none;
      border-radius: 0;
      /* display: block; */
      width: 100%;
      padding: 0;
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    #fs-frm label,
    #fs-frm legend,
    #fs-frm ::placeholder {
      font-size: 20px;
      // margin-bottom: 0.5rem;
      padding-top: 0.2rem;
      display: flex;
      align-items: center;
      color: var(--color-amarillo);
      padding-bottom: 7px;
      position: relative;
      // bottom: 3px;
    }
    #fs-frm ::placeholder {
      opacity: 1;
    }
    .form {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      width: 648px;
    }
    form {
      width: 1000px;
    }
    #fs-frm [type="text"],
    #fs-frm [type="number"],
    #fs-frm textarea {
      background-color: transparent;
      color: var(--color-amarillo);
      // padding: 0.75em 1rem;
      margin-bottom: 1.5rem;
      border: 2px solid var(--color-amarillo);
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 20px;
      line-height: 56px;
      border-radius: 38.9px;
      padding: 0 30px;
      height: 57px;
    }
    #fs-frm textarea {
      // height: calc(82px + 62px);
      height: 112px;
      margin-bottom: 1.5rem;
    }
    #fs-frm [type="submit"] {
      background-color: var(--color-amarillo);
      width: 186px;
      height: 57px;
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 20px;
      line-height: 38px;
      color: var(--color-shadow) !important;
      cursor: pointer;
      border-radius: 38.9px;
      border: 2px solid var(--color-amarillo);
      // &:hover {
      //   background-color: var(--color-verde);
      //   color: var(--color-azul);
      // }
    }
  }
  .slider-contacto {
    position: relative;
    bottom: -20px;
    .contacto-carousel {
      .box {
        p {
          font-family: var(--texto-manrope);
          font-weight: 700;
          font-size: 20px;
          color: var(--color-amarillo);
          text-align: center;
        }
      }
    }
  }
}

section.team {
  height: 100vh;
  align-items: center;
  overflow-y: hidden;
  position: relative;
  .content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    .part1 {
      width: 50%;
      h1 {
        font-family: var(--texto-epilogue);
        font-weight: 900;
        font-size: 96.2571px;
        color: var(--color-azul);
      }
      h2 {
        font-family: var(--texto-epilogue);
        font-weight: 900;
        font-size: 96.2571px;
        color: var(--color-amarillo);
        letter-spacing: 0.045em;
        text-shadow: -3.04px -3.04px 0 var(--color-azul),
          0 -3.04px 0 var(--color-azul), 3.04px -3.04px 0 var(--color-azul),
          3.04px 0 0 var(--color-azul), 3.04px 3.04px 0 var(--color-azul),
          0 3.04px 0 var(--color-azul), -3.04px 3.04px 0 var(--color-azul),
          -3.04px 0 0 var(--color-azul);
      }
      p {
        font-family: var(--texto-manrope);
        font-weight: 500;
        font-size: 18px;
        color: var(--color-azul);
        padding-top: 30px;
        padding-bottom: 50px;
        line-height: 36px;
        width: 717px;
      }
      button {
        background-color: var(--color-azul);
        border-radius: 38.9px;
        color: var(--color-amarillo);
        font-family: var(--texto-manrope);
        font-size: 20px;
        font-weight: 700;
        padding: 20px 0;
        outline: none;
      }
    }
    .part2 {
      img {
        // box-shadow: 26px 15px 35px #3822e4;
        filter: drop-shadow(26px 15px 14px #3822e4);
      }
    }
  }
  .start {
    position: absolute;
    bottom: 57px;
    left: 746px;
  }
}

section.servicios-list {
  position: relative;
  min-width: calc(100% - 100px);
  height: 100vh;
  .list {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    a {
      // height: 100vh;
      text-decoration: none;
    }
    .item {
      border: 4px solid var(--color-azul);
      padding: 41px 72px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      cursor: url(../img/img-hover.png) 38 38, pointer;
      h2 {
        font-family: var(--texto-epilogue);
        font-style: normal;
        font-weight: 900;
        font-size: 75px;
        color: var(--color-azul);
      }
      h3 {
        font-family: var(--texto-epilogue);
        font-weight: 700;
        font-size: 75px;
        color: var(--color-amarillo);
        text-shadow: -2px -2px 0 var(--color-azul), 0 -2px 0 var(--color-azul),
          2px -2px 0 var(--color-azul), 2px 0 0 var(--color-azul),
          2px 2px 0 var(--color-azul), 0 2px 0 var(--color-azul),
          -2px 2px 0 var(--color-azul), 2px 0 0 var(--color-azul);
      }
    }
  }
  .footer {
    transition: 0.3s;
    width: 100px;
    height: 100vh;
    background-color: var(--color-azul);
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 0;
    color: var(--color-amarillo);
    font-family: var(--texto-manrope);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .info {
      p {
        font-size: 18px;
        font-weight: 700;
        writing-mode: vertical-lr;
      }
    }
    .redes {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: var(--color-amarillo);
        font-size: 18px;
        font-weight: 400;
        writing-mode: vertical-lr;
        border: 2px solid var(--color-amarillo);
        padding: 29px 0;
        border-radius: 20px;
      }
      a:nth-child(1) {
        margin-bottom: 24px;
      }
    }
    .credito {
      font-size: 16px;
      font-weight: 800;
      writing-mode: vertical-lr;
    }
  }
}

section.thankspage {
  background-color: var(--color-azul);
  padding: 75px 0;
  .contendor {
    position: relative;
    height: 114px;
  }
  .contenido-thanks {
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container {
    width: 90%;
    max-width: 1700px;
    height: auto;
  }
  // .owl-carousel.owl-drag .owl-item {
  //   width: 2700px !important;
  // }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img.video-studio-n {
      position: relative;
      top: -34px;
    }
  }
  .slider-thanks {
    .box {
      p {
        font-family: var(--texto-epilogue);
        font-weight: 900;
        font-size: 81px;
        color: var(--color-azul);
        text-shadow: -2px -2px 0 var(--color-amarillo),
          0 -2px 0 var(--color-amarillo), 2px -2px 0 var(--color-amarillo),
          2px 0 0 var(--color-amarillo), 2px 2px 0 var(--color-amarillo),
          0 2px 0 var(--color-amarillo), -2px 2px 0 var(--color-amarillo),
          2px 0 0 var(--color-amarillo);
        letter-spacing: 0.075em;
      }
    }
  }
  .slider-thanks.pad {
    margin-top: 24px;
    margin-bottom: 50px;
  }
  .content-btn {
    display: flex;
    justify-content: center;
  }
  a.btn-thanks {
    text-decoration: none;
    font-family: var(--texto-manrope);
    font-weight: 700;
    font-size: 20px;
    width: 186px;
    height: 57px;
    border-radius: 38.9px;
    background-color: var(--color-amarillo);
    color: var(--color-azul);
    padding: 14px 0;
  }
}
