@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  outline: none;
}
::-webkit-scrollbar {
  display: none;
}

section.home2,
section.home3,
section.home4,
section.home5 {
  img:hover {
    cursor: url(../img/img-hover.png) 38 38, pointer;
  }
}

:root {
  --texto-epilogue: "Epilogue", sans-serif;
  --texto-manrope: "Manrope", sans-serif;
  --color-amarillo: #bced09;
  --color-azul: #3822e4;
  --colo-fondo: #bced09;
  --color-interruptor-on: #3822e4;
  --color-claro: #bced09;
  --color-oscuro: #3822e4;
  --color-shadow: #3822e4;
}

body.dark-theme {
  --colo-fondo: #1e1e24;
  --color-claro: #1e1e24;
  --color-oscuro: #bced09;
  --color-shadow: #1e1e24;
  --color-negro-change: #bced09;
  .logo {
    img:nth-child(1) {
      display: none;
    }
    img:nth-child(3) {
      display: block;
    }
  }
  section.home2,
  section.home3,
  section.home4,
  section.home5 {
    img:hover {
      cursor: url(../img/img-hover-black.png) 38 38, pointer;
    }
  }
  section.team-3 .list .item {
    cursor: url(../img/img-hover-black-negro.png) 64 64, pointer;
  }
}
nav.change1.change,
nav.change1 {
  background-color: var(--color-amarillo);
  border-right: 1px solid var(--color-azul);
  a {
    color: var(--color-azul);
  }
  .slider {
    background-color: var(--color-azul);
  }
  .slider:before {
    background-color: var(--color-amarillo);
  }
  .btn-nav ul li a {
    color: var(--color-azul);
  }
  .logo a img:nth-child(1) {
    display: none;
  }
  .logo a img:nth-child(2) {
    display: block;
  }
  .logo img:nth-child(3) {
    display: none;
  }
}

body.dark-theme {
  nav.change1.change2 {
    background-color: var(--color-amarillo);
    .slider {
      background-color: var(--color-claro);
    }
    .slider:before {
      background-color: var(--color-negro-change);
    }
    .idiomas a {
      color: var(--color-claro);
    }
    .btn-nav ul li a {
      color: var(--color-claro);
    }
    .logo a img:nth-child(1) {
      display: none;
    }
    .logo img:nth-child(3) {
      display: block;
    }
  }
}

body.dark-theme {
  nav.change {
    background-color: var(--color-amarillo) !important;
    a {
      color: var(--color-shadow);
    }
    .slider {
      background-color: var(--color-shadow);
    }
    .slider:before {
      background-color: var(--color-amarillo);
    }
    .btn-nav ul li a {
      color: var(--color-shadow);
    }
    .logo a img:nth-child(1) {
      display: none;
    }
    .logo a img:nth-child(2) {
      display: none;
    }
  }
  nav.change1 {
    border-right: none !important;
    background-color: var(--color-claro);
    border-right: 1px solid var(--color-oscuro);
    a {
      color: var(--color-oscuro);
    }
    .slider {
      background-color: var(--color-oscuro);
    }
    .slider:before {
      background-color: var(--color-claro);
    }
    .btn-nav ul li a {
      color: var(--color-oscuro);
    }
    .logo a img:nth-child(1) {
      display: block;
    }
    .logo a img:nth-child(2) {
      display: none;
    }
  }
}

body.dark-theme {
  nav.change2 {
    background-color: var(--color-shadow);
    .slider {
      background-color: var(--color-amarillo);
    }
    .slider:before {
      background-color: var(--color-shadow);
    }
    .idiomas a {
      color: var(--color-amarillo);
    }
    .btn-nav ul li a {
      color: var(--color-amarillo);
    }
    .logo img:nth-child(1) {
      display: block;
    }
    .logo img:nth-child(3) {
      display: none;
    }
  }
  section.servicios-list .list .item {
    cursor: url(../img/img-hover-black-negro.png) 64 64, pointer;
  }
}

.star {
  position: fixed;
  top: 70%;
  left: 40%;
  z-index: 8;
  img {
    width: 166px;
  }
  span {
    color: #fff;
    font-family: var(--texto-manrope);
    font-weight: 700;
    font-size: 20px;
    line-height: 43px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.star.starInterna {
  left: 80%;
}

button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
}

.container {
  width: 85%;
  max-width: 1532px;
  margin: 0 auto;
  height: 100%;
}
body {
  transition: 0.3s;
  background-color: var(--colo-fondo);
  .logo {
    img:nth-child(3) {
      display: none;
    }
  }
}
nav {
  background-color: var(--color-oscuro);
  transition: 0.3s;
  width: 100px;
  height: 100vh;
  position: fixed;
  padding: 52px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  justify-content: space-between;
  .idiomas {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    a {
      color: var(--color-claro);
      font-size: 22px;
      font-family: var(--texto-epilogue);
      font-weight: 500;
      text-decoration: none;
    }
    a:nth-child(2) {
      margin-top: 7px;
    }
  }
  .btn-nav {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    ul {
      display: flex;
      flex-direction: row-reverse;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: var(--color-claro);
          font-family: var(--texto-epilogue);
          font-size: 18px;
          font-weight: 500;
        }
        a.contacto {
          font-family: var(--texto-manrope);
          font-weight: 700;
        }
      }
      li:nth-child(1),
      li:nth-child(2) {
        margin-top: 54px;
      }
    }
  }
  .logo {
    a {
      img:nth-child(2) {
        display: none;
      }
    }
  }
}
/* From cssbuttons.io by @adamgiebl */
/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 75px;
  height: 34px;
  transform: rotate(-90deg);
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-claro);
  transition: 0.4s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--color-oscuro);
  transition: 0.4s;
}
input:checked + .slider {
  background-color: var(--color-claro);
}
// input:focus + .slider {
//   box-shadow: 0 0 1px var(--color-interruptor-on);
// }
input:checked + .slider:before {
  transform: translateX(2.4em);
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  // padding-left: 100px;
  section {
    min-width: 50%;
    height: 100vh;
    // display: flex;
    // align-items: center;
    // justify-content: center;
  }
}

.home1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding-left: 170px;
  .content {
    margin: 0 auto;
    // display: flex;
    // align-items: flex-end;
    padding-left: 150px;
  }

  h1 {
    font-family: var(--texto-epilogue);
    font-weight: 900;
    font-size: 96.2571px;
    color: var(--color-oscuro);
  }
  h2 {
    font-family: var(--texto-epilogue);
    font-size: 96px;
    font-weight: 900;
    text-shadow: 0px 2.52268px 2.52268px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.045em;
    color: var(--color-claro);
    // -webkit-text-stroke: 3.04px;
    // -webkit-text-stroke-color: var(--color-azul);
    // -webkit-text-stroke: 3.04px var(--color-azul);
    text-shadow: -3.04px -3.04px 0 var(--color-oscuro),
      0 -3.04px 0 var(--color-oscuro), 3.04px -3.04px 0 var(--color-oscuro),
      3.04px 0 0 var(--color-oscuro), 3.04px 3.04px 0 var(--color-oscuro),
      0 3.04px 0 var(--color-oscuro), -3.04px 3.04px 0 var(--color-oscuro),
      -3.04px 0 0 var(--color-oscuro);
  }
  p {
    font-family: var(--texto-manrope);
    font-weight: 500;
    font-size: 18px;
    color: var(--color-oscuro);
    padding-top: 30px;
    padding-bottom: 50px;
    line-height: 36px;
    width: 717px;
  }
  .button-home {
    width: 366px;
    height: 68px;
    background-color: var(--color-oscuro);
    border-radius: 38.9px;
    cursor: pointer;
    display: flex;
    align-items: center;
    p {
      width: 100% !important;
      padding-top: 0;
      color: var(--color-claro);
      padding-bottom: 0;
    }
  }
}

.home2,
.home3,
.home4,
.home5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  .content {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    padding-right: 100px;
    h2 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 75px;
      color: var(--color-oscuro);
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      text-shadow: none;
    }
    h3 {
      font-family: var(--texto-epilogue);
      font-weight: 800;
      font-size: 75px;
      letter-spacing: 0.045em;
      color: var(--color-claro);
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      padding-left: 20px;
      text-shadow: -2px -2px 0 var(--color-oscuro), 0 -2px 0 var(--color-oscuro),
        2px -2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro),
        2px 2px 0 var(--color-oscuro), 0 2px 0 var(--color-oscuro),
        -2px 2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro);
    }
    img {
      filter: drop-shadow(26px 15px 15px var(--color-oscuro));
      width: 27.29vw;
    }
  }
}

.home5 {
  .content {
    padding-right: 0;
    padding-left: 100px;
  }
}

.home6 {
  position: relative;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: 29px;
  }
  .formulario {
    width: 600px;
    h3 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 60px;
      color: var(--color-oscuro);
      -webkit-text-stroke: 2px;
      -webkit-text-stroke-color: var(--color-oscuro);
      letter-spacing: 0.045em;
    }
    h4 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 60px;
      // -webkit-text-stroke: 2px;
      // -webkit-text-stroke-color: var(--color-azul);
      color: var(--color-claro);
      letter-spacing: 0.045em;
      text-shadow: -2px -2px 0 var(--color-oscuro), 0 -2px 0 var(--color-oscuro),
        2px -2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro),
        2px 2px 0 var(--color-oscuro), 0 2px 0 var(--color-oscuro),
        -2px 2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro);
    }
    p {
      font-family: var(--texto-manrope);
      font-weight: 500;
      font-size: 18px;
      line-height: 36px;
      color: var(--color-oscuro);
      padding-top: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    /* reset */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    #fs-frm fieldset {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #fs-frm select,
    #fs-frm input,
    #fs-frm fieldset,
    #fs-frm textarea,
    #fs-frm label,
    #fs-frm #card-element:disabled {
      font-family: inherit;
      font-size: 100%;
      color: var(--color-oscuro);
      border: none;
      border-radius: 0;
      /* display: block; */
      width: 100%;
      padding: 0;
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    #fs-frm input.falto {
      border: 2px solid #d949f8 !important;
    }

    #fs-frm label,
    #fs-frm legend,
    #fs-frm ::placeholder {
      font-size: 18px;
      // margin-bottom: 0.5rem;
      padding-top: 0.2rem;
      display: flex;
      align-items: center;
      color: var(--color-oscuro);
      position: relative;
    }
    #fs-frm ::placeholder {
      opacity: 0.6;
    }
    .form {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      width: 100%;
    }
    form {
      width: 1000px;
    }
    #fs-frm [type="text"],
    #fs-frm [type="number"],
    #fs-frm textarea {
      background-color: transparent;
      color: var(--color-oscuro);
      // padding: 0.75em 1rem;
      margin-bottom: 1.5rem;
      border: 2px solid var(--color-oscuro);
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 18px;
      line-height: 56px;
      border-radius: 20px;
      padding: 0 30px;
      height: 57px;
    }
    #fs-frm textarea {
      // height: calc(82px + 62px);
      height: 112px;
      margin-bottom: 50px;
    }
    #fs-frm [type="submit"] {
      background-color: var(--color-oscuro);
      width: 186px;
      height: 57px;
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 25px;
      line-height: 38px;
      color: var(--color-claro) !important;
      cursor: pointer;
      border-radius: 18.27px;
      // &:hover {
      //   background-color: var(--color-verde);
      //   color: var(--color-azul);
      // }
    }
  }
  .footer {
    transition: 0.3s;
    width: 100px;
    height: 100vh;
    background-color: var(--color-oscuro);
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 0;
    color: var(--color-claro);
    font-family: var(--texto-manrope);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .info {
      p {
        font-size: 18px;
        font-weight: 700;
        writing-mode: vertical-lr;
      }
    }
    .redes {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: var(--color-claro);
        font-size: 18px;
        font-weight: 400;
        writing-mode: vertical-lr;
        border: 2px solid var(--color-claro);
        padding: 29px 0;
        border-radius: 20px;
      }
      a:nth-child(1) {
        margin-bottom: 24px;
      }
    }
    .credito {
      font-size: 16px;
      font-weight: 800;
      writing-mode: vertical-lr;
    }
  }
}

main {
  display: flex;
}

.servicespage.open {
  transform: translateX(0%);
  z-index: 9;
  position: fixed;
  top: 0;
}
.contactpage.open {
  transform: translateX(0%);
  position: fixed;
  top: 0;
}

section.servicespage {
  background-color: var(--color-shadow);
  height: 100vh;
  z-index: 9;
  position: absolute;
  width: 100%;
  top: 0;
  position: fixed;
  transition: transform 0.5s ease;
  transform: translatex(-100%);
  padding: 55px 0;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .top {
      display: flex;
      justify-content: flex-end;
    }
    .services {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      height: 100%;
      p {
        width: 362px;
        font-family: var(--texto-manrope);
        font-weight: 700;
        font-size: 20px;
        color: var(--color-amarillo);
      }
      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        justify-content: space-evenly;
        li {
          font-family: var(--texto-epilogue);
          font-size: 75px;
          font-weight: 700;
          list-style: none;
          // margin-bottom: 100px;
          width: fit-content;
          padding: 5px 37px;
          // padding-top: 8px;
          border-radius: 57px;
          transition: 0.1s linear;
          a {
            text-decoration: none;
          }
          span {
            position: relative;
            top: 7px;
          }
          span:nth-child(1) {
            color: var(--color-amarillo);
            transition: 0.1s linear;
          }
          span:nth-child(2) {
            transition: 0.1s linear;
            color: var(--color-shadow);
            text-shadow: -2px -2px 0 var(--color-amarillo),
              0 -2px 0 var(--color-amarillo), 2px -2px 0 var(--color-amarillo),
              2px 0 0 var(--color-amarillo), 2px 2px 0 var(--color-amarillo),
              0 2px 0 var(--color-amarillo), -2px 2px 0 var(--color-amarillo),
              2px 0 0 var(--color-amarillo);
          }
          &:hover {
            background-color: #bced09;
            span:nth-child(1) {
              color: var(--color-shadow);
            }
            span:nth-child(2) {
              color: var(--color-amarillo);
              text-shadow: -2px -2px 0 var(--color-shadow),
                0 -2px 0 var(--color-shadow), 2px -2px 0 var(--color-shadow),
                2px 0 0 var(--color-shadow), 2px 2px 0 var(--color-shadow),
                0 2px 0 var(--color-shadow), -2px 2px 0 var(--color-shadow),
                2px 0 0 var(--color-shadow);
            }
          }
        }
        li:nth-child(4) {
          margin: 0;
        }
      }
    }
  }
}

section.contactpage {
  background-color: var(--color-shadow);
  height: 100vh;
  z-index: 10;
  position: absolute;
  width: 100%;
  top: 0;
  position: fixed;
  transition: transform 0.5s ease;
  transform: translatex(-100%);
  padding: 75px 0;
  .contendor {
    position: relative;
    height: 100%;
  }
  .container {
    width: 90%;
    max-width: 1700px;
  }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img.video-studio-n {
      position: relative;
      top: -34px;
    }
  }
  .contenido {
    color: var(--color-amarillo);
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-family: var(--texto-epilogue);
      font-weight: 700;
      font-size: 90px;
    }
    p {
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 24px;
      padding-bottom: 40px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    /* reset */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    #fs-frm fieldset {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #fs-frm select,
    #fs-frm input,
    #fs-frm fieldset,
    #fs-frm textarea,
    #fs-frm label,
    #fs-frm #card-element:disabled {
      font-family: inherit;
      font-size: 100%;
      color: var(--color-amarillo);
      border: none;
      border-radius: 0;
      /* display: block; */
      width: 100%;
      padding: 0;
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    #fs-frm label,
    #fs-frm legend,
    #fs-frm ::placeholder {
      font-size: 20px;
      // margin-bottom: 0.5rem;
      padding-top: 0.2rem;
      display: flex;
      align-items: center;
      color: var(--color-amarillo);
      padding-bottom: 7px;
      position: relative;
      // bottom: 3px;
    }
    #fs-frm ::placeholder {
      opacity: 0.6;
    }
    .form {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      width: 648px;
    }
    form {
      width: 1000px;
    }
    #fs-frm [type="text"],
    #fs-frm [type="number"],
    #fs-frm textarea {
      background-color: transparent;
      color: var(--color-amarillo);
      // padding: 0.75em 1rem;
      margin-bottom: 1.5rem;
      border: 2px solid var(--color-amarillo);
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 20px;
      line-height: 56px;
      border-radius: 38.9px;
      padding: 0 30px;
      height: 57px;
    }
    #fs-frm textarea {
      // height: calc(82px + 62px);
      height: 112px;
      margin-bottom: 1.5rem;
    }
    #fs-frm [type="submit"] {
      background-color: var(--color-amarillo);
      width: 186px;
      height: 57px;
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 25px;
      line-height: 38px;
      color: var(--color-shadow) !important;
      cursor: pointer;
      border-radius: 38.9px;
      border: 2px solid var(--color-amarillo);
      // &:hover {
      //   background-color: var(--color-verde);
      //   color: var(--color-azul);
      // }
    }
  }
  .slider-contacto {
    position: relative;
    bottom: -20px;
    .contacto-carousel {
      .box {
        p {
          font-family: var(--texto-manrope);
          font-weight: 700;
          font-size: 20px;
          color: var(--color-amarillo);
          text-align: center;
        }
      }
    }
  }
}

/*page animacion*/
.interna-services-1,
.interna-services-2 {
  background-color: var(--color-oscuro);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.interna-services-1 {
  .content {
    margin: 0 auto;
  }
  img {
    filter: drop-shadow(26px 15px 15px var(--color-shadow));
    width: 27.29vw;
  }
}
.interna-services-2 {
  .content {
    max-width: 842px;
  }
  h1 {
    font-family: var(--texto-epilogue);
    font-size: 96px;
    font-weight: 900;
    color: var(--color-claro);
    text-shadow: 0px 3.20857px 3.20857px rgba(0, 0, 0, 0.25);
  }
  h2 {
    font-family: var(--texto-epilogue);
    font-size: 96px;
    font-weight: 900;
    text-shadow: 0px 2.52268px 2.52268px rgba(0, 0, 0, 0.25);
    letter-spacing: 0.045em;
    color: var(--color-oscuro);
    text-shadow: -3.04px -3.04px 0 var(--color-claro),
      0 -3.04px 0 var(--color-claro), 3.04px -3.04px 0 var(--color-claro),
      3.04px 0 0 var(--color-claro), 3.04px 3.04px 0 var(--color-claro),
      0 3.04px 0 var(--color-claro), -3.04px 3.04px 0 var(--color-claro),
      -3.04px 0 0 var(--color-claro);
  }
  p {
    font-family: var(--texto-manrope);
    font-weight: 500;
    font-size: 22px;
    color: var(--color-claro);
    padding-top: 30px;
    padding-bottom: 50px;
    line-height: 32px;
    // width: 717px;
  }
  .button-home {
    width: 366px;
    height: 68px;
    background-color: var(--color-claro);
    border-radius: 38.9px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .button-home p {
    width: 100% !important;
    padding-top: 0;
    color: var(--color-oscuro);
    padding-bottom: 0;
    font-size: 18px;
    font-weight: 700;
  }
}

.interna-services-3 {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      font-family: var(--texto-epilogue);
      font-size: 60px;
      list-style: none;
      font-weight: 900;
      margin-bottom: 30px;
    }
    li:nth-child(8) {
      margin: 0;
    }
    li:nth-child(odd) {
      color: var(--color-oscuro);
    }
    li:nth-child(even) {
      letter-spacing: 0.045em;
      color: var(--color-claro);
      text-shadow: -2px -2px 0 var(--color-oscuro), 0 -2px 0 var(--color-oscuro),
        2px -2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro),
        2px 2px 0 var(--color-oscuro), 0 2px 0 var(--color-oscuro),
        -2px 2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro);
    }
  }
}

.interna-services-4 {
  background-color: var(--color-oscuro);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .formulario {
    max-width: 600px;
    h3 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 60px;
      color: var(--color-claro);
    }
    h4 {
      font-family: var(--texto-epilogue);
      font-weight: 900;
      font-size: 60px;
      color: var(--color-oscuro);
      letter-spacing: 0.045em;
      text-shadow: -2px -2px 0 var(--color-claro), 0 -2px 0 var(--color-claro),
        2px -2px 0 var(--color-claro), 2px 0 0 var(--color-claro),
        2px 2px 0 var(--color-claro), 0 2px 0 var(--color-claro),
        -2px 2px 0 var(--color-claro), 2px 0 0 var(--color-claro);
    }
    p {
      font-family: var(--texto-manrope);
      font-weight: 500;
      font-size: 18px;
      line-height: 36px;
      color: var(--color-claro);
      padding-top: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    /* reset */
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type="number"] {
      -moz-appearance: textfield;
    }

    #fs-frm fieldset {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #fs-frm select,
    #fs-frm input,
    #fs-frm fieldset,
    #fs-frm textarea,
    #fs-frm label,
    #fs-frm #card-element:disabled {
      font-family: inherit;
      font-size: 100%;
      color: var(--color-amarillo);
      border: none;
      border-radius: 0;
      /* display: block; */
      width: 100%;
      padding: 0;
      margin: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
    }

    #fs-frm label,
    #fs-frm legend,
    #fs-frm ::placeholder {
      font-size: 18px;
      // margin-bottom: 0.5rem;
      padding-top: 0.2rem;
      display: flex;
      align-items: center;
      color: var(--color-claro);
      // padding-bottom: 7px;
      position: relative;
      // bottom: 3px;
      opacity: 0.5;
    }
    #fs-frm ::placeholder {
      opacity: 0.6;
    }
    .form {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      width: 100%;
    }
    form {
      width: 1000px;
    }
    #fs-frm [type="text"],
    #fs-frm [type="number"],
    #fs-frm textarea {
      background-color: transparent;
      color: var(--color-claro);
      // padding: 0.75em 1rem;
      margin-bottom: 1.5rem;
      border: 2px solid var(--color-claro);
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 18px;
      line-height: 56px;
      border-radius: 20px;
      padding: 0 30px;
      height: 57px;
      box-shadow: 0px 3.01597px 3.01597px rgba(0, 0, 0, 0.25);
    }
    #fs-frm textarea {
      // height: calc(82px + 62px);
      height: 112px;
      margin-bottom: 50px;
    }
    #fs-frm [type="submit"] {
      background-color: var(--color-claro);
      width: 186px;
      height: 57px;
      font-family: var(--texto-manrope);
      font-weight: 700;
      font-size: 25px;
      line-height: 38px;
      color: var(--color-oscuro) !important;
      cursor: pointer;
      border-radius: 18.27px;
      // &:hover {
      //   background-color: var(--color-verde);
      //   color: var(--color-azul);
      // }
    }
  }
  .footer {
    transition: 0.3s;
    width: 100px;
    height: 100vh;
    background-color: var(--color-claro);
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 0;
    color: var(--color-oscuro);
    font-family: var(--texto-manrope);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .info {
      p {
        font-size: 18px;
        font-weight: 700;
        writing-mode: vertical-lr;
      }
    }
    .redes {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: var(--color-oscuro);
        font-size: 18px;
        font-weight: 400;
        writing-mode: vertical-lr;
        border: 2px solid var(--color-oscuro);
        padding: 29px 0;
        border-radius: 20px;
      }
      a:nth-child(1) {
        margin-bottom: 24px;
      }
    }
    .credito {
      font-size: 16px;
      font-weight: 800;
      writing-mode: vertical-lr;
    }
  }
}

nav.change1.change,
nav.change1 {
  background-color: var(--color-amarillo);
  border-right: 1px solid var(--color-azul);
  a {
    color: var(--color-azul);
  }
  .slider {
    background-color: var(--color-azul);
  }
  .slider:before {
    background-color: var(--color-amarillo);
  }
  .btn-nav ul li a {
    color: var(--color-azul);
  }
  .logo a img:nth-child(1) {
    display: none;
  }
  .logo a img:nth-child(2) {
    display: block;
  }
  .logo img:nth-child(3) {
    display: none;
  }
}

/*end page animacion*/

/*page team*/

.team-1 {
  display: flex;
  align-items: center;
  background-color: var(--color-amarillo);
  .content {
    margin: 0 auto;
    padding-left: 150px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
  }
  h1 {
    font-family: var(--texto-epilogue);
    font-weight: 900;
    font-size: 96.2571px;
    color: var(--color-shadow);
  }
  h2 {
    font-family: var(--texto-epilogue);
    font-weight: 900;
    font-size: 96.2571px;
    color: var(--color-amarillo);
    letter-spacing: 0.045em;
    text-shadow: -3.04px -3.04px 0 var(--color-shadow),
      0 -3.04px 0 var(--color-shadow), 3.04px -3.04px 0 var(--color-shadow),
      3.04px 0 0 var(--color-shadow), 3.04px 3.04px 0 var(--color-shadow),
      0 3.04px 0 var(--color-shadow), -3.04px 3.04px 0 var(--color-shadow),
      -3.04px 0 0 var(--color-shadow);
  }
  p {
    font-family: var(--texto-manrope);
    font-weight: 500;
    font-size: 18px;
    color: var(--color-shadow);
    padding-top: 30px;
    padding-bottom: 50px;
    line-height: 36px;
    width: 717px;
  }
  .button-home {
    width: 366px;
    height: 68px;
    background-color: var(--color-shadow);
    border-radius: 38.9px;
    cursor: pointer;
    display: flex;
    align-items: center;
    p {
      width: 100% !important;
      padding-top: 0 !important;
      color: var(--color-amarillo) !important;
      padding-bottom: 0 !important;
      font-weight: 700;
    }
  }
}

.team-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-amarillo);
  .content {
    margin: 0 auto;
    padding-right: 100px;
  }
  img {
    filter: drop-shadow(26px 15px 14px var(--color-shadow));
  }
}
.team-3 {
  background-color: var(--color-amarillo);
  min-width: 100%;
  position: relative;
  min-width: calc(100% - 100px);
  .list {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    a {
      // height: 100vh;
      text-decoration: none;
    }
    .item {
      border: 4px solid var(--color-shadow);
      padding: 41px 72px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      background-color: var(--color-amarillo);
      cursor: url(../img/img-hover.png) 38 38, pointer;
      h2 {
        font-family: var(--texto-epilogue);
        font-style: normal;
        font-weight: 900;
        font-size: 75px;
        color: var(--color-shadow);
      }
      h3 {
        font-family: var(--texto-epilogue);
        font-weight: 700;
        font-size: 75px;
        color: var(--color-amarillo);
        text-shadow: -2px -2px 0 var(--color-shadow),
          0 -2px 0 var(--color-shadow), 2px -2px 0 var(--color-shadow),
          2px 0 0 var(--color-shadow), 2px 2px 0 var(--color-shadow),
          0 2px 0 var(--color-shadow), -2px 2px 0 var(--color-shadow),
          2px 0 0 var(--color-shadow);
      }
    }
  }
  .footer {
    transition: 0.3s;
    width: 100px;
    height: 100vh;
    background-color: var(--color-shadow);
    position: absolute;
    right: 0;
    top: 0;
    padding: 50px 0;
    color: var(--color-amarillo);
    font-family: var(--texto-manrope);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .info {
      p {
        font-size: 18px;
        font-weight: 700;
        writing-mode: vertical-lr;
      }
    }
    .redes {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: var(--color-amarillo);
        font-size: 18px;
        font-weight: 400;
        writing-mode: vertical-lr;
        border: 2px solid var(--color-amarillo);
        padding: 29px 0;
        border-radius: 20px;
      }
      a:nth-child(1) {
        margin-bottom: 24px;
      }
    }
    .credito {
      font-size: 16px;
      font-weight: 800;
      writing-mode: vertical-lr;
    }
  }
}
/*end page team*/

/*page thanks*/
section.thankspage {
  background-color: var(--color-azul);
  padding: 75px 0;
  .contendor {
    position: relative;
    height: 114px;
  }
  .contenido-thanks {
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container {
    width: 90%;
    max-width: 1700px;
    height: auto;
  }
  // .owl-carousel.owl-drag .owl-item {
  //   width: 2700px !important;
  // }
  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img.video-studio-n {
      position: relative;
      top: -34px;
    }
  }
  .slider-thanks {
    .box {
      p {
        font-family: var(--texto-epilogue);
        font-weight: 900;
        font-size: 81px;
        color: var(--color-azul);
        text-shadow: -2px -2px 0 var(--color-amarillo),
          0 -2px 0 var(--color-amarillo), 2px -2px 0 var(--color-amarillo),
          2px 0 0 var(--color-amarillo), 2px 2px 0 var(--color-amarillo),
          0 2px 0 var(--color-amarillo), -2px 2px 0 var(--color-amarillo),
          2px 0 0 var(--color-amarillo);
        letter-spacing: 0.075em;
      }
    }
  }
  .slider-thanks.pad {
    margin-top: 24px;
    margin-bottom: 50px;
  }
  .content-btn {
    display: flex;
    justify-content: center;
  }
  a.btn-thanks {
    text-decoration: none;
    font-family: var(--texto-manrope);
    font-weight: 700;
    font-size: 20px;
    width: 186px;
    height: 57px;
    border-radius: 38.9px;
    background-color: var(--color-amarillo);
    color: var(--color-azul);
    padding: 14px 64px;
  }
}
/*nd page thanks*/

@media (max-width: 1440px) {
  nav {
    width: 75px;
  }
  nav .idiomas a {
    font-size: 16.5px;
  }
  nav .btn-nav ul li a {
    font-size: 14px;
  }
  nav .logo img {
    width: 22px;
  }
  .home1 .content {
    padding-left: 130px;
  }
  .home1 h1,
  .home1 h2 {
    font-size: 76px;
  }
  .home1 h2 {
    text-shadow: -2px -2px 0 var(--color-oscuro), 0 -2px 0 var(--color-oscuro),
      2px -2px 0 var(--color-oscuro), 2px 0 0 var(--color-oscuro),
      2px 2px 0 var(--color-oscuro), 0 2px 0 var(--color-oscuro),
      -2px 2px 0 var(--color-oscuro), -2px 0 0 var(--color-oscuro);
  }
  .home2 .content h2,
  .home3 .content h2,
  .home4 .content h2,
  .home5 .content h2 {
    font-size: 56px;
  }
  .home2 .content h3,
  .home3 .content h3,
  .home4 .content h3,
  .home5 .content h3 {
    font-size: 56px;
  }
  .home2 .content,
  .home3 .content,
  .home4 .content,
  .home5 .content {
    padding-right: 51px;
  }
  .home1 p {
    font-size: 16px;
    width: 100%;
    line-height: 24px;
  }
  .home1 .button-home {
    width: 278.59px;
    height: 42.98px;
  }
  .star {
    transform: scale(0.8);
  }
  .home6 .formulario {
    width: 461px;
  }
  .home6 .formulario h3 {
    font-size: 46px;
  }
  .home6 .formulario h4 {
    font-size: 43px;
    text-shadow: -1.5px -1.5px 0 var(--color-oscuro),
      0 -1.5px 0 var(--color-oscuro), 1.5px -1.5px 0 var(--color-oscuro),
      1.5px 0 0 var(--color-oscuro), 1.5px 1.5px 0 var(--color-oscuro),
      0 1.5px 0 var(--color-oscuro), -1.5px 1.5px 0 var(--color-oscuro),
      1.5px 0 0 var(--color-oscuro);
  }
  .home6 .content {
    padding-right: 92px;
  }
  .home6 .formulario p {
    font-size: 16px;
    line-height: 27.1px;
  }
  .home6 .formulario #fs-frm [type="text"],
  .home6 .formulario #fs-frm [type="number"],
  .home6 .formulario #fs-frm textarea {
    height: 42.98px;
    border: 1.9px solid var(--color-oscuro);
  }
  .home6 .formulario #fs-frm textarea {
    height: 84.45px;
  }
  #fs-frm label,
  #fs-frm legend,
  #fs-frm ::placeholder {
    font-size: 16px;
  }
  .home6 .formulario #fs-frm [type="submit"] {
    width: 138.17px;
    height: 43px;
    font-size: 20px;
  }
  .home6 .footer {
    width: 75.4px;
  }
  .home6 .footer .info p {
    font-size: 14px;
  }
  .home6 .footer .redes a {
    font-size: 13.57px;
    padding: 21px 0;
  }
  .home6 .footer .credito {
    font-size: 12px;
  }

  /*INTERNA*/

  .interna-services-2 h1,
  .interna-services-2 h2 {
    font-size: 76px;
  }
  .interna-services-2 p {
    font-size: 16px;
    max-width: 717px;
    // 2133333
  }

  .interna-services-1 {
    min-width: 45%;
  }
  .interna-services-2 {
    min-width: 55%;
  }
  .interna-services-2 .button-home {
    width: 278.59px;
    height: 42.98px;
  }

  .interna-services-3 ul li {
    font-size: 45px;
  }

  .interna-services-4 .formulario {
    width: 461px;
  }
  .interna-services-4 .formulario h3 {
    font-size: 46px;
  }
  .interna-services-4 .formulario h4 {
    font-size: 43px;
    text-shadow: -1.5px -1.5px 0 var(--color-claro),
      0 -1.5px 0 var(--color-claro), 1.5px -1.5px 0 var(--color-claro),
      1.5px 0 0 var(--color-claro), 1.5px 1.5px 0 var(--color-claro),
      0 1.5px 0 var(--color-claro), -1.5px 1.5px 0 var(--color-claro),
      1.5px 0 0 var(--color-claro);
  }
  .interna-services-4 .content {
    padding-right: 92px;
  }
  .interna-services-4 .formulario p {
    font-size: 16px;
    line-height: 27.1px;
  }
  .interna-services-4 .formulario #fs-frm [type="text"],
  .interna-services-4 .formulario #fs-frm [type="number"],
  .interna-services-4 .formulario #fs-frm textarea {
    height: 42.98px;
    border: 1.9px solid var(--color-claro);
  }
  .interna-services-4 .formulario #fs-frm textarea {
    height: 84.45px;
  }
  #fs-frm label,
  #fs-frm legend,
  #fs-frm ::placeholder {
    font-size: 16px;
  }
  .interna-services-4 .formulario #fs-frm [type="submit"] {
    width: 138.17px;
    height: 43px;
    font-size: 20px;
  }

  .interna-services-4 .footer {
    width: 75.4px;
  }
  .interna-services-4 .footer .info p {
    font-size: 14px;
  }
  .interna-services-4 .footer .redes a {
    font-size: 13.57px;
    padding: 21px 0;
  }
  .interna-services-4 .footer .credito {
    font-size: 12px;
  }

  /*END INTERNA*/
}

@media (max-width: 1024px) {
  body {
    height: auto !important;
  }
  main {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    transform: none !important;
  }
  main section {
    min-width: inherit;
  }
  section.home1 {
    width: 100%;
  }
  section.home2,
  section.home3,
  section.home4,
  section.home5 {
    width: 50%;
  }
  section.home6 {
    width: 100%;
  }
}

@media (max-width: 425px) {
  main {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    transform: none !important;
  }
  main section {
    min-width: inherit;
  }
  section.home1 {
    width: 100%;
  }
  section.home2,
  section.home3,
  section.home4,
  section.home5 {
    width: 100%;
  }
  section.home6 {
    width: 100%;
  }
}
